# Defense

In [1]:
import pandas as pd

In [63]:
df = pd.read_pickle('defense')

In [64]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# setting format for readability
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [65]:
df.head()

,PLAYER,POSITION,TEAM,GP,STK,ATK,CMB,INT,YDS,LNG,TD,FMB,FREC,FTD,SCK,PDEF,SFTY
0,Jaire Alexander,CB,GB,1,4,1,5,1,-4,-4,0,0,0,0,1.0,1,1
1,Chidobe Awuzie,CB,DAL,1,2,0,2,1,0,0,0,0,0,0,0.0,1,0
2,Quandre Diggs,SS,SEA,1,3,1,4,1,0,0,0,0,0,0,0.0,2,0
3,Kyle Fuller,CB,CHI,1,3,1,4,1,5,5,0,0,0,0,0.0,1,0
4,Stephon Gilmore,CB,NE,1,4,1,5,1,15,15,0,0,0,0,0.0,1,0

In [66]:
df.shape

(509, 17)

In [67]:
df.dtypes

PLAYER      object
POSITION    object
TEAM        object
GP          object
STK         object
ATK         object
CMB         object
INT         object
YDS         object
LNG         object
TD          object
FMB         object
FREC        object
FTD         object
SCK         object
PDEF        object
SFTY        object
dtype: object

In [68]:
columns = ['GP', 'STK', 'ATK', 'CMB', 'INT', 'YDS', 'LNG', 'TD', 'FMB', 'FREC', 'FTD', 'PDEF', 'SFTY']

In [69]:
dash = df['LNG'][508]
val = dash

In [70]:
for column in columns:
    for i in range(len(df[column])):
        item = df[column][i]
        if item == val:
            df[column][i] = '0'
        else:
            df[column][i] = item

In [71]:
for column in columns:
    df[column] = df[column].map(lambda x: int(x))

In [72]:
df.dtypes

PLAYER      object
POSITION    object
TEAM        object
GP           int64
STK          int64
ATK          int64
CMB          int64
INT          int64
YDS          int64
LNG          int64
TD           int64
FMB          int64
FREC         int64
FTD          int64
SCK         object
PDEF         int64
SFTY         int64
dtype: object

In [73]:
df['SCK'][299]

'â€”'

In [74]:
for i in range(len(df['SCK'])):
    item = df['SCK'][i]
    if item == val:
        df['SCK'][i] = '0.0'
    else:
        df['SCK'][i] = item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [75]:
df['SCK'].value_counts()

0.0    439
1.0     54
0.5      9
1.5      4
2.0      3
Name: SCK, dtype: int64

In [76]:
for i in range(len(df['SCK'])):
    item = str(df['SCK'][i])
    ones, tenths = item.split('.')
    ones = int(ones)
    tenths = int(tenths) * .1
    df['SCK'][i] = ones + tenths

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [77]:
df['SCK']

0     1.00
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.00
9     0.00
10    0.00
11    0.00
12    0.00
13    0.00
14    0.00
15    0.00
16    0.00
17    0.00
18    0.00
19    0.00
20    0.50
21    1.00
22    0.00
23    1.00
24    1.00
25    1.00
26    0.00
27    1.00
28    0.00
29    0.00
30    0.00
31    0.00
32    0.00
33    0.00
34    0.00
35    0.00
36    0.00
37    0.00
38    0.00
39    0.00
40    0.00
41    0.00
42    0.00
43    0.00
44    0.00
45    0.00
46    0.00
47    0.00
48    0.00
49    0.00
50    0.00
51    0.00
52    0.00
53    0.00
54    0.00
55    0.00
56    0.00
57    0.00
58    0.00
59    0.00
60    0.00
61    0.00
62    0.00
63    0.00
64    0.00
65    0.00
66    0.00
67    0.00
68    0.00
69    0.00
70    1.00
71    0.00
72    0.00
73    0.00
74    0.00
75    0.00
76    0.00
77    0.00
78    0.00
79    1.00
80    0.00
81    0.00
82    0.50
83    0.00
84    0.50
85    0.00
86    0.00
87    0.00
88    0.00
89    1.00
90    0.00
91    0.00
92    0.00
93    0.00
94    0.00
95    0.00
96    0.00
97    0.00
98    1.00
99    0.00
100   0.00
101   0.00
102   0.00
103   0.00
104   0.00
105   0.00
106   0.00
107   0.50
108   0.00
109   0.00
110   0.00
111   0.00
112   0.00
113   0.00
114   0.00
115   0.00
116   0.00
117   0.00
118   0.00
119   0.00
120   0.00
121   0.00
122   0.00
123   0.00
124   0.00
125   1.50
126   0.00
127   1.00
128   0.00
129   0.00
130   0.00
131   0.00
132   0.50
133   0.00
134   0.00
135   0.00
136   0.00
137   0.00
138   1.00
139   1.00
140   0.00
141   0.00
142   0.00
143   0.00
144   0.00
145   0.00
146   0.00
147   0.00
148   0.00
149   0.00
150   0.00
151   0.00
152   0.00
153   0.00
154   0.00
155   0.00
156   0.00
157   0.00
158   0.00
159   0.00
160   0.00
161   0.00
162   0.00
163   0.50
164   0.00
165   0.00
166   1.00
167   0.50
168   0.00
169   0.00
170   0.00
171   0.00
172   0.00
173   0.00
174   0.00
175   0.00
176   0.00
177   0.00
178   0.00
179   0.00
180   1.00
181   0.00
182   0.00
183   0.00
184   0.00
185   0.00
186   0.00
187   0.00
188   0.00
189   0.00
190   0.00
191   0.00
192   0.00
193   0.00
194   0.00
195   0.00
196   0.00
197   0.00
198   0.00
199   0.00
200   1.00
201   0.00
202   0.00
203   1.00
204   0.00
205   0.00
206   0.00
207   1.00
208   0.00
209   0.00
210   0.00
211   0.00
212   0.00
213   0.00
214   0.00
215   0.00
216   0.00
217   1.00
218   0.00
219   0.00
220   0.00
221   0.00
222   0.00
223   0.00
224   0.00
225   1.50
226   0.00
227   0.00
228   0.00
229   2.00
230   0.00
231   0.00
232   0.00
233   0.00
234   0.00
235   0.00
236   1.00
237   0.00
238   1.00
239   0.00
240   0.00
241   1.00
242   0.00
243   1.00
244   0.00
245   0.00
246   0.00
247   0.00
248   0.00
249   1.50
250   0.50
251   0.00
252   0.00
253   0.00
254   0.00
255   1.00
256   0.00
257   0.00
258   0.00
259   0.00
260   1.00
261   0.00
262   0.00
263   0.00
264   0.00
265   0.00
266   0.00
267   1.00
268   0.00
269   0.00
270   0.00
271   0.00
272   0.00
273   0.00
274   0.00
275   0.00
276   0.00
277   0.00
278   0.00
279   0.00
280   0.00
281   1.50
282   0.00
283   0.00
284   0.00
285   0.00
286   0.00
287   0.00
288   0.00
289   0.00
290   0.00
291   0.00
292   1.00
293   0.00
294   0.00
295   0.00
296   0.00
297   0.00
298   0.00
299   0.00
300   1.00
301   0.00
302   2.00
303   0.00
304   0.00
305   0.00
306   0.00
307   0.00
308   0.00
309   0.00
310   1.00
311   1.00
312   0.00
313   0.00
314   0.00
315   1.00
316   0.00
317   1.00
318   0.00
319   1.00
320   0.00
321   0.00
322   0.00
323   0.00
324   0.00
325   1.00
326   0.00
327   0.00
328   0.00
329   0.00
330   0.00
331   0.00
332   0.00
333   1.00
334   0.00
335   0.00
336   0.50
337   0.00
338   0.00
339   0.00
340   0.00
341   0.00
342   0.00
343   1.00
344   0.00
345   0.00
346   0.00
347   0.00
348   0.00
349   0.00
350   1.00
351   0.00
352   0.00
353   0.00
354   0.00
355   0.00
356   0.00
357   0.00
358   0.00
359   0.00
360   0.00
361   0.00
362   0.00
363   0.00
364   0.00
365   0.00
366   0.00
367   0.00
368   0.00
369   0.00
370   0.00
371   0.00
372   0.00
373   0.00
374   0.00
375   0.00
376   1.00
377   0.00
378   0.00
379   0.00
380   0.00
381   0.00
382   0.00
383   0.00
384   0.00
385   0.00
386   0.00
387   0.00
388   1.00
389   0.00
390   0.00
391   0.00
392   0.00
393   0.00
394   0.00
395   0.00
396   0.00
397   0.00
398   0.00
399   0.00
400   1.00
401   0.00
402   0.00
403   0.00
404   0.00
405   0.00
406   0.00
407   0.00
408   0.00
409   0.00
410   0.00
411   0.00
412   0.00
413   0.00
414   0.00
415   0.00
416   0.00
417   0.00
418   0.00
419   0.00
420   0.00
421   1.00
422   0.00
423   0.00
424   0.00
425   0.00
426   0.00
427   1.00
428   0.00
429   1.00
430   0.00
431   0.00
432   0.00
433   0.00
434   0.00
435   0.00
436   0.00
437   0.00
438   0.00
439   0.00
440   1.00
441   0.00
442   0.00
443   0.00
444   0.00
445   0.00
446   0.00
447   0.00
448   0.00
449   0.00
450   0.00
451   0.00
452   0.00
453   1.00
454   0.00
455   0.00
456   1.00
457   0.00
458   0.00
459   0.00
460   1.00
461   0.00
462   0.00
463   0.00
464   0.00
465   0.00
466   0.00
467   0.00
468   0.00
469   0.00
470   0.00
471   0.00
472   0.00
473   0.00
474   0.00
475   1.00
476   0.00
477   0.00
478   0.00
479   0.00
480   0.00
481   0.00
482   0.00
483   0.00
484   0.00
485   0.00
486   0.00
487   0.00
488   0.00
489   0.00
490   0.00
491   1.00
492   1.00
493   0.00
494   0.00
495   0.00
496   1.00
497   1.00
498   0.00
499   0.00
500   1.00
501   1.00
502   0.00
503   0.00
504   0.00
505   2.00
506   0.00
507   0.00
508   0.00
Name: SCK, dtype: object

In [78]:
df['SCK'][0] + df['SCK'][1]

1.0

In [86]:
grouped = df[['TEAM', 'STK', 'ATK', 'CMB', 'INT', 'YDS', 'LNG', 'TD', 'FMB', 'FREC', 
              'FTD', 'SCK', 'PDEF', 'SFTY']].groupby('TEAM').sum()
grouped.sort_values('TD', ascending=False)

      STK  ATK  CMB  INT  YDS  LNG  TD  FMB  FREC  FTD  PDEF  SFTY
TEAM
NO     47   12   59    2   53   53   1    1     1    0     4     0
        8    1    9    1    0    0   0    0     0    0     2     0
LAC    45   17   62    1    0    0   0    1     1    0     3     0
TEN    36   13   49    0    0    0   0    2     1    0     2     0
TB     40   22   62    0    0    0   0    0     0    0     3     0
SF     48   24   72    1   16   16   0    2     0    0     5     0
SEA    37   21   58    1    0    0   0    1     1    0     6     0
PIT    40   11   51    2    0    0   0    0     0    0     5     0
PHI    40   19   59    0    0    0   0    1     0    0     4     0
NYJ    53   25   78    0    0    0   0    2     2    0     6     0
NYG    42   19   61    0    0    0   0    1     1    0     3     0
NE     48   20   68    2   20   20   0    0     0    0     3     0
MIN    50   12   62    0    0    0   0    1     0    0     1     0
MIA    54   16   70    0    0    0   0    1     0    0     3     0
LV     35   31   66    0    0    0   0    0     0    0     4     0
LAR    43   17   60    0    0    0   0    0     0    0     4     0
KC     36   12   48    1   39   39   0    0     0    0     2     0
ARI    37   16   53    0    0    0   0    0     0    0     4     0
JAC    48   22   70    2   34   34   0    0     0    0     5     0
IND    26   14   40    0    0    0   0    0     0    0     0     0
HOU    46   13   59    0    0    0   0    0     0    0     1     0
GB     30   16   46    1   -4   -4   0    0     0    0     1     1
DET    45   14   59    0    0    0   0    2     0    0     3     0
DEN    45   16   61    0    0    0   0    0     0    0     5     0
DAL    46   24   70    1    0    0   0    0     0    0     4     0
CLE    38   13   51    0    0    0   0    1     1    0     0     0
CIN    50   38   88    0    0    0   0    0     0    0     5     0
CHI    50   19   69    1    5    5   0    0     0    0     9     0
CAR    36   26   62    0    0    0   0    1     0    0     4     0
BUF    30   15   45    1    0    0   0    1     1    0     3     0
BAL    38   30   68    1    8    8   0    3     2    0     8     0
ATL    34   27   61    0    0    0   0    0     0    0     1     0
WAS    37   24   61    2   32   32   0    2     1    0     3     0

In [79]:
df.columns

Index(['PLAYER', 'POSITION', 'TEAM', 'GP', 'STK', 'ATK', 'CMB', 'INT', 'YDS',
       'LNG', 'TD', 'FMB', 'FREC', 'FTD', 'SCK', 'PDEF', 'SFTY'],
      dtype='object')