# Passing

In [1]:
import pandas as pd

In [4]:
df = pd.read_pickle('passing')

In [5]:
df.head()

,PLAYER,POSITION,TEAM,GP,ATT,CMP,PCT,YDS,YDSpG,LNG,TD,INT,SCK,YDSL,RATE
0,Matt Ryan,QB,ATL,1,54,37,68.5,450,450.0,44,2,1,2,16,98.5
1,Aaron Rodgers,QB,GB,1,44,32,72.7,364,364.0,45,4,0,0,0,127.5
2,Philip Rivers,QB,IND,1,46,36,78.3,363,363.0,35,1,2,0,0,88.7
3,Russell Wilson,QB,SEA,1,35,31,88.6,322,322.0,38,4,0,3,23,143.1
4,Josh Allen,QB,BUF,1,46,33,71.7,312,312.0,29,2,0,3,6,104.6

In [9]:
df[df['PLAYER'].isin(['Aaron Rodgers', 'Dak Prescott', 'Carson Wentz'])]

,PLAYER,POSITION,TEAM,GP,ATT,CMP,PCT,YDS,YDSpG,LNG,TD,INT,SCK,YDSL,RATE
1,Aaron Rodgers,QB,GB,1,44,32,72.7,364,364.0,45,4,0,0,0,127.5
9,Carson Wentz,QB,PHI,1,42,24,57.1,270,270.0,55,2,2,8,62,72.5
11,Dak Prescott,QB,DAL,1,39,25,64.1,266,266.0,33,1,0,3,22,92.5